@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #c8a96a;
  --color-background: #faf7f2;
  --color-dark: #2f2f2f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--color-dark);
  font-family: var(--font-poppins);
}

.font-title {
  font-family: var(--font-playfair);
}
